<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- Console Appender for local development -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
  </appender>

  <!-- Root logger configuration -->
  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>

</configuration>